{% extends "layout.html" %} 
{% block contennt %}
  <h1>SWP</h1>
  <h2>Beacon</h2>
  {% if user %}
    <p style="color: white; border: 5px solid rgb(6, 156, 6); background-color: rgb(6, 156, 6); border-radius: 40px; width: 350px;">Hello {{user}}, nice to see you :)</p>
  {% else %}
  {% endif %}
  <form id="v" enctype='application/json' action = "{{ url_for('handle') }}" method = "POST">
    <input type="hidden" id="token" name="token" value="{{token}}">
    <label for="chr">Chromosom:</label>
    <input type="text" id="chr" name="chr" pattern = "(([3-9]|([1][0-9]?)|([2][0-2]?)|[XY])" placeholder="chr" autofocus><br>
    <label for="pos" >Position:</label>
    <input type="text" id="pos" name="pos" pattern = "\d+" placeholder="pos"><br>
    <label for="ref">Referenz:</label>
    <input type="text" id="ref" name="ref" pattern = "[ACGT]+" placeholder="ref"><br>
    <label for="alt">Alternativ:</label>
    <input type="text" id="alt" name="alt" pattern = "[ACGT]+" placeholder="alt"><br> 
    <button type="submit">Submit</button>
  </form>   
  <br>
  <br>
{% endblock %}       