<!DOCTYPE html>
<html>
    <head>

        <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename = 'main.css') }}">
        
        {% if title %} 
            <title> SWP - {{ title }} </title>
        {% else %} 
            <title> SWP </title>
        {% endif %} 
    </head>
    <body>
        <style>
            .aa{
                margin: 0px;
                padding: 0px;
                border: 0px solid white;
                width:0px;
            }
        </style>
        <div class="header">
            <a href="/" class="beacon">Beacon</a>
            <div class="right">
                <a href="/login">Login</a>
                <a class="home" href="/">Logout</a>
            </div>
        </div>
        {% block contennt %} {% endblock %} 
    </body>
</html>
