{% extends "layout.html" %} 
{% block contennt %}
    <h1>SWP</h1>
    <h2>Beacon</h2>
    <form name='login' enctype='application/json' action = "{{ url_for('login') }}" method = "POST">
        <h3>Login</h3>
        {% if error == None %}
            <p> </p>
        {% else %}
            <p style='color:red;text-align: center;'>{{error}}</p>
        {% endif %}
        <label for="token">Token:</label>
        <input type="text" id="token" name="token" placeholder="Token" required autofocus><br>
        <!-- <label for="user">Username:</label>
        <input type="text" id="user" name="user" placeholder="Username" required><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Password" required><br>
        <div class='show'>
            <input class='check' type="checkbox" onclick="show()">Show Password
          </div>
        <script>
            function show() {
                var x = document.getElementById("password");
                if (x.type === "password") {
                    x.type = "text";
                } else {
                    x.type = "password";
                }
            }
            </script> -->
        <br>
        <br>
        <button class= 'loginbutton' type="submit">Login</button><br>
        <input type="reset" value="Reset"><br>
        <br>
        <br>
        <br>
        <button class="cancel" type="button" >Cancel</button>
    </form>
{% endblock %}